{% extends "layout.html" %}

{% block title %} change password {% endblock %}

{% block main %}

<div class="form">

    <form action="/change" method="post" class="info">
        <div class="vis mb-3">
            <label for="old-password" class="visually-hidden form-label">old password</label>
            <input type="password" placeholder="Old password" autocomplete="off" id="old-password" name="old-password" class="pass" required>
            <span class="fa fa-eye icon"></span>
        </div>


        <div class="vis mb-3">
            <label for="new" class="form-label visually-hidden">new password</label>
            <input type="password" name="new" id="new" autocomplete="off" placeholder="New password" class="pass check" required>
            <span class="fa fa-eye icon"></span>
        </div>

        <div class="vis mb-3">
            <label for="confirm" class="visually-hidden form-label">confirm</label>
            <input type="password" name="confirm" placeholder="Confirm password" id="confirm" class="pass" autocomplete="off" required>
            <span class="fa fa-eye icon"></span>
        </div>

        <div class="form-text mb-3">
            Your password must be <span id="length" class="invalid">8 characters long</span>, contain a <span id="number" class="invalid">number</span> and <span id="capital" class="invalid">upper-case character</span>
        </div>

        {% for category , msg in get_flashed_messages(with_categories=True) %}
            <p class="alert-{{category}}"> {{msg}} </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary register" name="register" value="false">Update</button>
    </form>


</div>



{% endblock %}