<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{url_for('static' , filename='js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/bootstrap.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="{{ url_for('static' , filename='script.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename='style.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='icon.ico')}}" type="image/x-icon">
    <title>BookFinder: {% block title %}{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src=" {{ url_for('static' , filename='pics/logo.png')}}" alt="logo">
           <div class="d-inline-flex flex-column">
            <span>Book</span><span>finder</span>
           </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          {% if session["user_id"]%}
          
            <div class="navbar-nav ms-auto ">

              <select name="userInfo" onchange="location = this.value;" class="user-info bg-body-tertiary">
                <option value="name" selected disabled hidden>{{ name }}</option>
                <option value="../lists/want-to-read">Want to read</option>
                <option value="../lists/have-read">Have read</option>
                <option value="/change">change password</option>
                <option value="/logout">Logout</option>
              </select>  
         
            </div>

            {% else %}
            
          <div class="navbar-nav ms-auto">
            <a class="nav-link"  href="/login">Log-in</a>
              <a class="nav-link"  href="/register">Register</a>
           </div>

           {% endif %}

        </div>
      </nav>

      
      <main class="containesr-fluid py-4 text-center" > {% block main %} {% endblock %}  </main>
      
      <footer>
        <div class="container-fluid text-center upper">
          <div class="row align-items-center">
            <div class="col">
              <h3>Book-finder</h3>
              <p>look for your favorite book!</p>
              <a href="/contact"><button>Contact us</button></a>
            </div>
            <div class="col link ">
              <h3>Quick links</h3>
              <div>
                <a href="/">Home</a>
                <br>
                <a href="/article/reading-fun">Reading benefits</a>
              </div>
            </div>
            <div class="col">
              <h3>Contact us</h3>
              <div class="social">
                <a href="#" class="fa fa-facebook-square"></a>
                <a href="#" class="fa fa-reddit-square"></a>
                <a href="#" class="fa fa-instagram"></a>
              </div>
          </div>
         
          </div>

        </div>
        
        <div class="container-fluid text-center lower">
          <div> Copyright &copy; 2023 <a href="https://github.com/ghassan6" target="_blank"><span class="fa fa-github"></span></a> </div>
        </div>

      </footer>
      
</body>
</html>