{% extends "layout.html" %}

{% block title%} Log-in {% endblock %}

{% block main %} 
<div class="form">
    <form action="/login" method="post" class="info">
        <div class="mb-3">
            <label for="username" class="form-label visually-hidden">username</label>
            <input type="text" name="username" id="username" autocomplete="off" placeholder="username" required>
        </div>
    
        <div class="vis mb-3">
            <label for="password" class="form-label visually-hidden">password</label>
            <input type="password" name="password" id="password" autocomplete="off" placeholder="Password" class="pass" required>
            <span class="fa fa-eye icon" id="f"></span>
            
        </div>
    
        {% for category , msg in get_flashed_messages(with_categories=True) %}
            <p class="alert-{{category}}">{{ msg }}</p>
        {% endfor %}

        <div>Don't have an account? <a href="/register"><em>Sign up!</em></a></div>
    
        <button type="submit" class="btn btn-primary">Log-in</button>
    </form>

    
</div>




{% endblock %}