{% extends "layout.html" %}

{% block title%} 4 Strategies for Building Content Knowledge {% endblock %}

{% block main %}

<div class="container-fluid img" style="background-image: url('/static/pics/article-two.jpg');">
    <!-- <div style=" background-image: url('static/pics/article-two.jpg');"></div> -->
</div>

<div class="container art-main text-start mt-3">
    <h1>4 Strategies for Building Content Knowledge</h1>
    <p>Elementary school teachers pave the way for their students to be able to take part in rigorous project-based learning (PBL) down the line by ensuring that students develop foundational reading skills. This comes through phonics and vocabulary work, which helps students build content knowledge across disciplines. </p>

    <p>Unfortunately, schools don’t always emphasize the importance of building content knowledge.</p>

    <p>For instance, Jessica Winter argues in The New Yorker that reading instruction is often anchored to skill development and strategic guessing without rich content knowledge and intentional development of academic vocabulary in subjects such as science and social studies. A curriculum that is built strictly on high skill development, high collaboration, and high strategic guessing equates to what she calls a “vibes-based literacy.” </p>

    <p>As a former high school science teacher, I found that students struggled to think critically about something that they didn’t have thorough knowledge of to begin with. The solution is to provide students with rich content knowledge to read, write, and talk about in class.</p>

    <h3>Rigorous PBL</h3>
    <p>Rigorous PBL is an inquiry-based approach that follows a specific pathway of enabling students to develop three levels of learning: </p>

    <ul>
        <li>Surface (I know ideas or skills), </li>
        <li>Deep (I can relate ideas and/or skills), and </li>
        <li>Transfer (I can apply ideas or skills in multiple contexts). </li>
    </ul>
        <p>Rigorous PBL is built on the understanding that knowledge of subject areas is critical to successful learning across the levels of rigor. It also requires an equal intensity and integration of all three levels, and this is developed when students routinely engage in tasks that require reading, writing, and talking. For maximum effect, these activities should be addressed by ensuring that teachers are following best practices anchored in the science of reading.</p>

        <h3>Science of Reading and Rigorous PBL </h3>
        <p>Within rigorous PBL, students need content knowledge development to effectively learn how to read, write, and talk. Without surface-level knowledge, students are unable to access deep and transfer learning within and across subjects. Studies have shown that skills don’t transfer without a rich content basis in which these skills can link.</p>
        
        <div>
            <a href="https://www.edutopia.org/article/4-strategies-building-content-knowledge-elementary" target="_blank"> <em>Read full article </em></a>
        </div>
   
</div>

{% endblock %}