{% extends "layout.html"%}

{% block title %} The Benefits of Reading for Fun {% endblock %}

{% block main %}

    <div class="img container-fluid" style="background-image: url('/static/pics/article-one.jpg');"></div>
    
    <div class="container art-main text-start mt-3">

        <h1>The Benefits of Reading for Fun</h1>

        <p>Mrs. Mason was “the perfect reading ambassador,” said Sandra Martin-Chang, recalling an early reading role model, her high school English and drama teacher. “She encouraged me to read excellent books with great storylines. We read The Handmaid’s Tale, and it was fabulous.… We’d envision it first and then think about how to enact it and bring it to life.”</p>

        <p>Now a professor of education at Concordia University, Martin-Chang studies how reading storybooks and novels influences cognitive development.</p>
    
        <p>In a new study published in Reading and Writing, she and her colleagues found significant differences between students who read for pleasure outside of class—immersing themselves in fantasy novels or spy thrillers, for example—and those who primarily read books to satisfy school assignments. Not only was there a powerful link between reading for fun and stronger language skills, but students who disliked reading frequently attributed their negative outlook to experiences they had in classrooms. Too much emphasis on analyzing the compositional nuts and bolts of texts and reading merely to absorb information came at a psychological cost, the researchers found, as students disengaged from voluntary reading</p>
    
        <p>In the study, Martin-Chang and her colleagues surveyed 200 university undergraduates, asking them about their reading interests, how often they read for pleasure, what motivated them, and what experiences helped shape their attitudes toward reading. They were also asked to identify authors they had read in the past—a proxy for measuring how many books they had read. The young adults then took a series of tests to gauge their reading ability.</p>
    
        <p>“We found that often children’s experience in elementary school is far more positive, and then it drops in high school,” said Martin-Chang. While children in kindergarten and early elementary school tend to read storybooks as they develop their reading skills—often sharing the experience with an adult—by high school, the nature of reading changes as students are expected to read a steady diet of more challenging, information-rich texts. Somewhere during that transition, a love of reading seems to fade.</p>
    
        <p>In the study, 35 percent of students pinpointed a specific reason: They didn’t enjoy reading because “being asked to analyze books in high school made it less pleasurable.”</p>
    

        <div>
            <a href="https://www.edutopia.org/article/benefits-reading-fun/" target="_blank"><em>Read full article</em> </a>
        </div>

        
    </div>
    

   
   

{% endblock %}