{% extends "layout.html" %}

{% block title %} Reading matters: What is reading {% endblock %}

{% block main %}

<div class="img container-fluid" style="background-image: url('/static/pics/article-three.jpg');"></div>

<div class="art-main container mt-3 text-start">
    <h3>What is reading?</h3>
    
    <p>At the most basic level reading is the recognition of words. From simple recognition of the individual letters and how these letters form a particular word, to what each word means – not just on an individual level, but also as part of a text. In English, as in many other languages, different combinations of the same letters can be used to form different words with completely different meanings. So, the letters t c a can make both cat (an animal that goes miaow) and act (which has a number of meanings, from ‘do something', to ‘behave in certain ways‘, to ‘perform in a play or film‘). Recognition of the actual word is not enough on its own to constitute reading.</p>

    <p>Understanding what we are reading is key and is certainly the main point of teaching reading in a class. It’s not much good if our students simply stare at a text and say, ‘Well, I don’t understand it, but it looks nice!’ However, understanding a text is quite a complex issue and something that we will try and examine in the rest of this article.</p>

    <h3>Why do we read?</h3>

    <p>There are a number of reasons why we read, and this will often influence what we read and how we read it. We might read for pleasure. In this case it is most likely that we will be reading a book of some sort – maybe a novel, or perhaps a poem. We could also be reading the lyrics to a song, so our reasons for reading it may be slightly more complex than simply for pleasure. We could be reading it because we have heard the song but didn’t quite catch the words. Or perhaps our children are listening to it, but we are worried that some of the lyrics might not be suitable. Or perhaps we want to be able to sing along, so we’re trying to learn the words (maybe so we can impress our friends).</p>

    <p>In other words, there are multiple reasons why someone might read a text. But working out the purpose is a key factor when it comes to teaching reading. Why we are reading something will make a difference to how we read it and in what depth. So, a mother checking whether the lyrics of a song are suitable for her children to hear will most likely be looking through the text for particular words or phrases she thinks are inappropriate. On the other hand, someone trying to learn the lyrics by heart will probably read the same lines a number of times (and may even read them out loud to try and reinforce the words).</p>

    <p>We must also bear in mind the purpose of the text from the writer’s point of view. Texts don’t exist in a vacuum; somebody wrote the text and they had a reason for doing so. It could be that the writer’s and the reader’s reasons are the same, or similar. But it is equally possible that the two have different purposes. The writer has a message they want to convey, and they encode this message in the words and style they choose. The reader then tries to decode the message by reading the same words. This encoding and decoding doesn’t simply exist on the level of meaning, but also on the level of why the text was written.</p>

    <div>
        <a href="https://www.onestopenglish.com/support-for-teaching-adults/reading-matters-what-is-reading/154842.article" target="_blank"><em>Read full article</em></a>
    </div>

</div>



{% endblock %}